.page1 {
    background-color:lightcyan;
}
.page2 {
    background-color:rgb(250, 224, 175);
}
.gallery {
    margin: 20px 20px;
}
.gallery img {
    transition: 1s;
    padding: 20px; 
    width: 300px;
}
.gallery img:hover {
    filter: grayscale(100%);
    transform: scale(1.1);
}
h1 , h2  {
    margin: 0px;
    font-size: 35px;
    padding-bottom: 10px;
    padding-left: 45px;
}
h1 {
font-family: 'Parisienne';
color: lightskyblue;
}
h2 {
    font-family: 'Faustina';
    color: coral;
}
.button-container {
    padding-left: 165px;
}


@media (min-width: 769px){
    .gallery {
        margin: 10px 15px;
    }
    .gallery img {
        transition: 1s;
        padding: 15px; 
        width: 200px;
    }
    .gallery img:hover {
        filter: grayscale(100%);
        transform: scale(1.1);
    }
    h1, h2 {
        height: 95px;
        font-size: 60px;
        padding-left: 115px;
        padding-bottom: 0px;
    }

    .button-container {
        padding-left: 333px;
    }

}
@media (min-width: 1202px){
    h1, h2 {
        height: 95px;
        font-size: 70px;
        padding-left: 300px;
        padding-bottom: 0px;
    }
    .button-container {
        padding-left: 570px;
    }

}
@media (min-width: 1439px){
    .page1, .page2 {
        width: 1665px;
        height: 855px;
    }
    h1, h2 {
        height: 95px;
        font-size: 80px;
        padding-left: 490px;
        padding-bottom: 0px;
    }
    .button-container {
        padding-left: 805px;
    }
}