.background {
    width: 1420px;
    height: 785px;
    background-color: lightblue;
}

.button-container {
    position: fixed;
    top: 20px;
    left: 50px;
}

h1 {
    position: fixed;
    width: 1400px;
    top: 35px;
    left: 55px;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: blue;
}

h2 {
    position: fixed;
    top: 130px;
    left: 55px;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: darkblue;
}

h3 {
    padding-left: 60px;
    font-style: italic;
}

.list {
    position: fixed;
    width: 250px;
    height: 240px;
    top: 260px;
    left: 95px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    color: blue;
    background-color: cornflowerblue;
}

.page-img {
    width: 60%;
    height: 60%;
    position: fixed;
    top: 260px;
    left: 475px;
    display: inline;
}   