header {
    background-color: rgb(194, 226, 128);
    text-align: center;

}

main {
    background-color: pink
}

header .img-container1{
    margin: 0px auto;
    background-color: white;
}

header .img-container2{
    margin: 0px auto;
    background-color: white;
}

header .img-container3{
    margin: 0px auto;
    background-color: white;
}