header{
    background-color: rgb(194, 226, 128);
    text-align: center;
}

main {
    background-color: pink;
    width: 960px;
    height: 800px;
    margin: 0px auto;
}

.fullcard-container-1{
    margin-bottom: 15px;
}
.fullcard1 {
    display: inline-block;
    width: 45%;
}

.fullcard1:first-child {
    float: left;
}

.fullcard1:nth-child(2){
    float: right;
}

.fullcard1 img {
    width: 100%;
}

.fullcard-container-2{
    margin-bottom: 15px;
}

.fullcard2 {
    display: inline-block;
    width: 33%;
}

.fullcard2:first-child {
    float: left;
}

.fullcard2:nth-child(2){
    float: left;
}

.fullcard2:nth-child(3){
    float: left;
    max-height: 200px;
    overflow: auto;
}

.fullcard2 img {
    width: 80%;
}


.fullcard3 {
    float: left;
    width: 50%;
    margin-left: 10px;
}

.headline {
    margin-top: -300px;
}
.clearfix {
    clear: both;
}