.responsive {
    width: 1000%;
    height: 1000px;
    padding-left: 0px;
    padding-right: 0px;
    background-color:White;
    opacity: 0.2;
    position: relative;
    left: -1300px; 
}
.Photo1 {
    position: absolute;
    left: 15px;
    top: 280px;
}
.Photo2 {
    position: absolute;
    left: 15px;
    top: 550px;
}
.Photo3 {
    position: absolute;
    left: 15px;
    top: 280px;
}

@media screen and (min-width: 760px) {
    .responsive {
        width: 100%;
        height: 100%;
        padding-top: 12px;
        padding-left: 0px;
        padding-right: 0px;
        opacity: 0.3;
        position: relative;
        left: 0px;
    }

    .Photo1 {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 300px;
        top: 300px;

    }
}