.responsive {
    width: 100%;
    height: 100%;
    padding-top: 12px;
    padding-left: 0px;
    padding-right: 0px;
    opacity: 0.3;
    position: relative;
    left: 0px;
}
.header {
    position: absolute;
    left:0px;
    top:0px;
  }

.PhotoA {
    position: absolute;
    width: 10%;
    height: 05%;
    left: 55px;
    top: 240px;
}
.Photo1 {
    position: absolute;
    left: 55px;
    top: 240px;
}
.Photo2 {
    position: absolute;
    left: 55px;
    top: 510px;
}
.Photo3 {
    position: absolute;
    left: 55px;
    top: 780px;
}
.Photo4 {
    position: absolute;
    left: 55px;
    top: 1050px;
}
.Photo5 {
    position: absolute;
    left: 55px;
    top: 1320px;
}

@media screen and (min-width: 760px) {
    .responsive {
        width: 100%;
        height: 100%;
        padding-top: 12px;
        padding-left: 0px;
        padding-right: 0px;
        opacity: 0.3;
        position: relative;
        left: 0px;
    }

    .Photo1 {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 300px;
        top: 300px;

    }
}